<!DOCTYPE html>
<html>
    <head>
        <title> Chatter box </title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        <nav>
            <header><img width="100" src="/static/img/logo.png"></header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/">Donate</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>
        <main>
            <header>
                <h1> This is My Chat </h1>
            </header>
            <section>
            </section>
            <footer>
                <span>FunkyBob</span>
            </footer>
        </main>
    </body>
</html>
